 ul{
     width: 500px;
     height: 300px;
     float: left;
 }
 li{
    list-style: none;
    margin: 0;
    padding: 0
}
   .seal-name{
    display: inline-block;
    width: 170px;
  color:black;
  font-size: 18px;
}
.seal-input {
/* position: absolute; */
margin: 3px;
/* display: block; */
width: 250px;
font-size: 14px;
height: 30px;
line-height: 30px;
outline: none;
border: 0.1px solid #dccfc3;
padding: 0px 20px;
-webkit-box-sizing: border-box;
box-sizing: border-box;}
.checke{
/* width: 10px; */
margin: 10px;
}
.seal-all{
  width: 1200px;
position: absolute;
}
.eseal{
/* position: absolute; */
width: 250px;
margin-left: 200px;
float: left;
margin-top: -150px;
}
.seal-bt{
margin : 30px auto;
text-align: center
 
}
.seal-btn{
 
  padding: 3px 15px;
color: #be926f;
border: 1px solid #be926f;
}
.seal-btn:hover{
color: white;
background: #be926f;
}
/* #tuzhangdiv{
margin: 0px auto;
  width: 201.5px;
  height: 201.5px;
border: 1px solid #be926f;
} */
/* #canvas{
  margin:25px 25px;
} */
.eseal-all{
width: 1200px;
height: 400px;
margin: 50px auto;
padding: 50px;
}
.eseal-name{
font-size: 35px;
color: #be926f;
text-align: center;
padding: 30px;
}
 
